h1 {
    color: orange;
}

h2 {
    color: chocolate;
}

.center {
    text-align: center;
}

.grade {
    padding: 12px 20px;
}

button {
    color: white;
    background-color: green;
    border-radius: 25px;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit:hover {
    background-color: red;
    color: blue;
}

.calculate:hover {
    background-color: blue;
    color: red;
}